<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Рецепты{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <ul class="nav nav-pills justify-content-end align-items-end">
        <li class="nav-item">
            <a href="/" class="nav-link">Главная</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'mainapp:all_recipes' %}" class="nav-link">Рецепты</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a href="{% url 'mainapp:recipe_add' %}" class="nav-link">Добавить рецепт</a>
        </li>
        <li class="nav-item">
            <form method="post" action="{% url 'mainapp:logout' %}">
                {% csrf_token %}
                <a href="{% url 'mainapp:logout' %}" class="nav-link"
                   onclick="event.preventDefault(); this.closest('form').submit();">Выйти</a>
            </form>
        </li>
        {% else %}
        <li class="nav-item">
            <a href="{% url 'mainapp:register' %}" class="nav-link">Регистрация</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'mainapp:login' %}" class="nav-link">Войти</a>
        </li>
        {% endif %}
    </ul>
</div>
<div class="container">
    {% block content %}{% endblock %}
    <div class="row modal-footer">
        <hr>
        <p>Все права защищены &copy;</p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>